* {
  font-family: terminal, monospace;
  font-size: 50px;
  color: #fff;
}

input {
  background-color: inherit;
}

.response, #errorFeedback {
  display: none;
}

body {
  background-size: 100%;
  background-image: url("../img/initialBackground.gif");
}

li {
  list-style: none;
}

.btn {
  background-color: inherit;
  font-size: 50px;
}

body.number {
  background-image: url("../img/number.jpg");
}

body.PING-PONG {
  background-image: url("../img/ping-pong.jpg");
}

body.ping {
  background-image: url("../img/ping.jpg");
}

body.pong {
  background-image: url("../img/pong.jpg");
}

li.number {
  color: yellow;
  font-size: 20px;
  font-weight: 200;
}

li.PING-PONG {
  color: red;
  font-size: 50px;
  font-weight: 600;

}

li.ping {
  color: blue;
  font-size: 30px;
  font-weight: 300;
}

li.pong {
  color: green;
  font-size: 40 px;
  font-weight: 400;
}
